{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div> 
        
        <div class="mt-4">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Information</legend>
                <div class="form-group">
                    <label class="form-control-label">Username:</label>
                    <div class="form-control-plaintext">{{ current_user.username }}</div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Email:</label>
                    <div class="form-control-plaintext">{{ current_user.email }}</div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="mt-3">
        <a class="btn btn-outline-info" href="{{ url_for('update_account') }}">Update Account Info</a>
        <a class="btn btn-outline-secondary" href="{{ url_for('change_password') }}">Change Password</a>
        <a class="btn btn-outline-success" href="{{ url_for('user_preferences') }}">User Preferences</a>
        <a class="btn btn-outline-primary" href="{{ url_for('dashboard') }}">Go to Dashboard</a>
    </div>
{% endblock %}