{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h4>Current Balance: ${{ '%.2f'|format(current_user.savings or 0) }}</h4>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.amount.label(class="form-control-label") }}
            {{ form.amount(class="form-control") }}
        </div>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}